.hero {
   padding: 194px 0px 202px 0px;
   height: 502px;
   margin-bottom: 60px;
background-color: $hero-background;
   &__circle {
      width: 346px;
      height: 344px;
      border-radius: 50%;
      background-color: $hero-circle;
      position: absolute;
      top: -111px;
      left: 36px;
   }

   &__tittle {
      position: relative;
      text-transform: uppercase;
      font-size: 26px;
      line-height: 29.77px;
      letter-spacing: 4%;
      color: $primary-text-color;
      z-index: 1;
   }

   &__span {
      text-transform: uppercase;
      font-size: 48px;
      line-height: 46.32px;
      color: $secondary-text-color;
   }

   &__img {
      width: 171px;
      height: 410px;
      position: absolute;
      top: -102px;
      left: 117px;
   }
}
.container {
position: relative;
// background-color: $hero-background;
}
